pandas
numpy==1.26.4
ipykernel
matplotlib==3.5.3
python-dotenv
missingno
pyarrow
ipywidgets>=7.0.0
plotly==5.22.0
nbformat>=4.2.0
sketch==0.5.2
idna
urllib3
certifi
markupsafe
pyyaml
aiohttp
annotated_types
