pandas
numpy
ipykernel
matplotlib
ipywidgets
seaborn
dash-cytoscape==0.2.0
dash
dash-core-components
dash-html-components
pyvis
networkx
tqdm
plotly
python-dotenv
#notebook # if you want to run a jupyter server locally and use it's interface for accessing the kernel
